
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


#head{
   width: 100vw;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   opacity: 0.4;
}
   h1{ font-family: "Bungee", sans-serif;
    font-size: 25px;
}
svg{
width: 30px;
height:35px;

}
#profile{
    display: flex;
}
#profile{
    width: 200px;
    height: 50px;
}
#container{
    display: none;
    background-color: black;
    color: white;
    height: 200px;

}
#prof{
    margin-left: 30px;
    padding-top: 30px;
   
}
#like{
    padding-left:1200px;
    padding-top: 30px;
}
#cart{
    padding-left:30px;
    padding-top: 30px;
}
#input{
    font-size: large;
    width: 80%;
    padding: 20px;
    margin: 0px;
   align-items: center;
    outline-color: black;
    display:flex;
    border-radius: 25px;
    position: relative;
    
}
#search{
    margin: 0;
    padding: 0;
}
#mic{position: absolute;
    top: 115px;
    left: 70%;
    color: black;
    
}
#camera{position: absolute;
    
    top: 115px;
    left: 80%;
    color: black;
}
#text{
    display: none;
    background-color: white;
    color: black;
    width: 2000px;
    height: 20px;

    
}
#catagery{
    display: none;
}
.aline{
    font-family: "Iosevka Charon", monospace;;
    margin: 62px;
    border: 3px solid black;
    text-align: center;
    width: 80px;
    height: 100px;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   cursor: pointer;
   align-content: space-evenly;
   
}
.lehanga{
    font-family: "Iosevka Charon", monospace;;
    margin: 62px;
    border: 3px solid black;
    text-align: center;
    width: 80px;
    height: 100px;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   cursor: pointer;
   align-content: space-evenly;
   
}
.frock{
    font-family: "Iosevka Charon", monospace;;
    margin: 62px;
    border: 3px solid black;
    text-align: center;
    width: 80px;
    height: 100px;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   cursor: pointer;
   align-content: space-evenly;
   
}
.pant{
    font-family: "Iosevka Charon", monospace;;
    margin: 62px;
    border: 3px solid black;
    text-align: center;
    width: 80px;
    height: 100px;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   cursor: pointer;
   align-content: space-evenly;
   
}
.saree{
    font-family: "Iosevka Charon", monospace;;
    margin: 62px;
    border: 3px solid black;
    text-align: center;
    width: 80px;
    height: 100px;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   cursor: pointer;
   align-content: space-evenly;
   
}
.tshirt{
    font-family: "Iosevka Charon", monospace;;
    margin: 62px;
    border: 3px solid black;
    text-align: center;
    width: 80px;
    height: 100px;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   cursor: pointer;
   align-content: space-evenly;
   
}
.kurti{
    font-family: "Iosevka Charon", monospace;;
    margin: 62px;
    border: 3px solid black;
    text-align: center;
    width: 80px;
    height: 100px;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   cursor: pointer;
   align-content: space-evenly;
   
}
.aline:hover{
    color: blue;
}
.lehanga:hover{
    color: blue;
}
.kurti:hover{
    color: blue;
}
.frock:hover{
    color: blue;
}
.pant:hover{
    color: blue;
}
.saree:hover{
    color: blue;
}
.t-shirt:hover{
    color: blue;
}
#cartimg{
    width: 100vw;
    height: auto;

    
}
#redcart{
    display: none;

}
#lineimg{
    display: none;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 100px;
    align-content: space-evenly;
    justify-content: space-evenly;
}
.alineimg{
    border: 3px solid black;
    width: 350px;
    height:575px;
    
    
}
.svgs,.price{
    align-items: center;
    display:inline-flex ;
    gap: 50px;
    
    
}

.delivery{
padding-left: 200px;

}
.star{
    margin-right: 20px;
    display:inline-flex ;
    gap: 10px;
   align-self: flex-end;
   
}
#bridallehanga{
    display: none;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 100px;
    align-content: space-evenly;
    justify-content: space-evenly;
}
.lehangaimg{
    border: 3px solid black;
    width: 350px;
    height:575px;
}
#cottonkurti{
    display: none;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 100px;
    align-content: space-evenly;
    justify-content: space-evenly;
}
.kurtiimg{
    border: 3px solid black;
    width: 350px;
    height:575px;
}
#longfrock{
    display: none;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 100px;
    align-content: space-evenly;
    justify-content: space-evenly;
}
.frockimg{
    border: 3px solid black;
    width: 350px;
    height:575px;
}
#fashionablepant{
    display: none;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 100px;
    align-content: space-evenly;
    justify-content: space-evenly;
}
.pantimg{
    border: 3px solid black;
    width: 350px;
    height:575px;
}
#prettysaree{
    display: none;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 100px;
    align-content: space-evenly;
    justify-content: space-evenly;
}
.sareeimg{
    border: 3px solid black;
    width: 350px;
    height:575px;
}
#trendytshirt{
    display: none;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 100px;
    align-content: space-evenly;
    justify-content: space-evenly;
}
.shirtimg{
    border: 3px solid black;
    width: 350px;
    height:575px;
}
.iconscontainer{
    display: none;
    align-items: flex-end;
justify-content: space-between;
margin: 20px;

}

.righticon{
    display: flex;
    gap: 100px;
    
}
.redheart{
    display: none;
}